<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{% block title %}{% end %} | {{ escape(handler.settings["blog_title"]) }}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" media="screen">
    <link rel='shortcut icon' href="{{ static_url("img/favicon.ico") }}" type="image/x-icon" />
    {% block head %}{% end %}
</head>
<body class="home blog custom-background custom-font-enabled">
    <div class="navbar navbar-inverse navbar-fixed-top" id="menubar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">algu.me</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/"> 首页 </a></li>
              {% block page %}
              {% end %}
                 
              {% if current_user %}
              <li><a href="/logout"> Hello {{ current_user["nickname"] }}</a></li>
              {% end %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
   </div> 
{% block body %}{% end %}


<script src="{{ static_url("bootstrap/js/jquery.js") }}"></script>
<script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}></script>
</body>
</html>
